@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    font-size: 62.5%;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

i{
    color: black;
}

a{
    text-decoration: none;
}

body{
    background-color: black;

    header{
        align-items: left;
        display: flex;
        flex-direction: row;
        h1{
            color: white;
            font-size:5rem;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            margin-top:3rem;
            margin-left:4rem;
            margin-bottom: 1rem;
        }
        .break{
            flex-basis:0;
            width: 0%;
        }

        .pageIndicator{
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-left:2rem;
            font-family: 'Courier New', Courier, monospace;
            .fa-solid{
                font-size:5rem;
                cursor: pointer;
                color:white;
                font-family: FontAwesome !important;
                font-style: normal;
                padding:1.5rem;
            }
            .pageNo{
                font-size:3rem;
            }

        }
    }
    .divider{
        background-color:yellow;
        min-width: 100%;
        min-height: 1.5rem;
    }
    main{
        display: flex;
        #api{
            display: flex;
            flex-direction: row;
            align-items: left;
            flex-wrap: wrap;
            max-width:100vw;

            .item{
                display: flex;
                flex-direction:row;
                font-size:3rem;
                border: 1px solid #eee;
                margin: 1rem;
                max-width: 50rem;

                .title{
                    margin-top:3rem;
                    p{
                        font-size:2rem;
                    }
                }
            }
        }
    }

}


.search {
    width: 100%;
    /* position: relative; */
    display: flex;
  }
  
  .searchTerm {
    width: 100%;
    border: 3px solid yellow;
    border-right: none;
    padding: 5px;
    height: 3.6rem;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;

    font-size: 2rem;
  }
  
  .searchTerm:focus{
    color: black;
  }
  
  .searchButton {
    width: 4rem;
    height: 3.6rem;
    border: 1px solid yellow;
    background: yellow;
    text-align: center;
    color: black;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 3rem;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 4%;
    left: 80%;
    transform: translate(-50%, -50%);
  }

  @media screen and (max-width:940px) {
      header{
          flex-direction: column !important;
      }
/*       .break{
          flex-basis: 100% !important;
      } */
  }